# phpstorm project files
.idea
*.data
*.php-tmp
# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db
# composer itself is not needed
composer.phar
# Mac DS_Store Files
.DS_Store
.env
# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# redis
dump.rdb
.phpintel/
plugins/alipayMobile/tmp/
plugins/alipayMobile/log.txt
composer.lock



